.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 10px;
}

.content-img {
  width: 100%;
  height: 100vh;
  margin-right: 30px;
  display: none;
}

.content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-login {
  border-radius: 5px;
  padding: 20px;
}

.header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-card h4 {
  font-size: 24px;
  color: #4d4d4d;
  font-weight: 500;
}

.form-login {
  width: 100%;
}

.form-login-input {
  width: 100%;
}

.form-login-button {
  width: 100%;
}

.content-link {
  margin: 10px 0;
  text-align: right;
}

.content-link a {
  color: #ff4081;
}

@media screen and (min-width: 1024px) {
  .container-login {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0;
  }

  .content-img {
    display: block;
  }

  .card-login {
    padding: 40px;
  }
}
