<div class="container-login">
  <div class="content-img">
    <img [src]="img" alt="Pet principal login" />
  </div>
  <div class="card-login">
    <div class="header-card">
      <h4>Login</h4>
      <ng-lottie [options]="options" width="100px"></ng-lottie>
    </div>
    <form
      class="form-login"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit($event)"
    >
      <!-- Email -->
      <mat-form-field class="form-login-input">
        <mat-label>Correo Eléctronico</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          autocomplete="off"
        />
        <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
          Por favor ingresa una dirección de correo valida
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
          El correo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field class="form-login-input">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
          La contraseña es <strong>requerida</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength']">
          La contraseña debe tener al menos
          {{loginForm.get('password')?.errors?.['minlength'].requiredLength}}
          carácteres
        </mat-error>
      </mat-form-field>
      <div class="content-link">
        <a routerLink="register">¿No tienes cuenta?</a>
      </div>
      <button mat-raised-button color="primary" class="form-login-button">
        Ingresar
      </button>
    </form>
  </div>
</div>
