<mat-drawer-container
  class="container-sidenav"
  [hasBackdrop]="true"
  (backdropClick)="backdropClick()"
>
  <mat-drawer [opened]="showSideNav | async" mode="over" class="side-nav">
    <div class="side-nav-content">
      <div class="side-nav-header">
        <!-- <img
        src="assets/img/LogoCensoTransparent.png"
        class="side-nav-logo"
        alt="logo img"
      /> -->
        <div class="side-nav-header-user">
          <img
            class="img-user"
            [src]="
              user?.imgUri ??
              'https://ui-avatars.com/api/?name=' +
                user?.firstName +
                ' ' +
                user?.surname +
                '&background=3f51b5&color=fff'
            "
            alt="img user"
          />
          <div class="user-info">
            <h3>
              {{ user?.firstName + (" " + user?.surname) }}
            </h3>
            <h4>{{ user?.email }}</h4>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="content-routes">
        <button
          *ngFor="let route of routes"
          [ngClass]="
            currentRoute && currentRoute === route.path ? 'route-active' : ''
          "
          class="route-item route-normal"
          (click)="handleNavigate(route.path)"
        >
          <mat-icon *ngIf="route.icon">{{ route.icon }}</mat-icon>
          <span>{{ route.name }}</span>
        </button>
      </div>
      <div class="content-logout">
        <button (click)="logout()" class="route-item route-item-logout">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </div>
    </div>
  </mat-drawer>
  <app-appbar *ngIf="isLoggedIn | async"></app-appbar>
  <div
    [ngClass]="
      currentRoute !== '/' && currentRoute !== '/register' ? 'container' : ''
    "
  >
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
