<div class="header">
  <h1>Especies</h1>
  <button mat-raised-button color="accent" (click)="handleCreate()">
    Crear
    <mat-icon>add</mat-icon>
  </button>
</div>
<table mat-table [dataSource]="species" class="mat-elevation-z8">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let specie">{{ specie.id }}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let specie">
      {{ specie.name }}
    </td>
  </ng-container>
  <!-- Email Column -->
  <ng-container matColumnDef="isPet">
    <th mat-header-cell *matHeaderCellDef>Es Mascota</th>
    <td mat-cell *matCellDef="let specie">{{ specie.isPet ? "Si" : "No" }}</td>
  </ng-container>
  <!-- Id Number Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
    <td mat-cell *matCellDef="let specie">
      {{ handleFormatDate(specie.createdAt) }}
    </td>
  </ng-container>
  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let specie">
      <button mat-icon-button (click)="handleViewSpecie(specie.id)">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
      <button mat-icon-button (click)="handleEdit(specie.id)">
        <mat-icon color="primary">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
