<div class="container-register">
  <div class="content-img">
    <img [src]="img" alt="Pet principal register" />
  </div>
  <div class="card-register">
    <div class="header-card">
      <h4>Register</h4>
      <ng-lottie [options]="options" width="100px"></ng-lottie>
    </div>
    <form
      class="form-register"
      [formGroup]="registerForm"
      (ngSubmit)="handleSubmit($event)"
    >
      <div class="content-form">
        <mat-form-field
          *ngFor="let field of fields"
          class="form-register-input"
        >
          <mat-label>
            {{ field.label }}
          </mat-label>

          <!-- Select -->
          <mat-select
            *ngIf="field.type === 'select'"
            formControlName="{{ field.name }}"
          >
            <mat-option
              *ngFor="let typeIdentification of typesOfIdentifications"
              value="{{ typeIdentification.value }}"
              >{{ typeIdentification.value }}</mat-option
            >
          </mat-select>

          <input
            *ngIf="field.type !== 'select'"
            type="{{ field.type }}"
            matInput
            formControlName="{{ field.name }}"
          />

          <mat-error
            *ngIf="registerForm.get(field.name)?.errors?.['required'] && field.type !== 'password'"
          >
            El {{ field.label.toLowerCase() }} es <strong>requerido</strong>
          </mat-error>

          <!-- Password Errors -->
          <mat-error
            *ngIf="registerForm.get('password')?.errors?.['required'] && field.type === 'password'"
          >
            La contraseña es <strong>requerida</strong>
          </mat-error>
          <mat-error
            *ngIf="registerForm.get('password')?.errors?.['minlength'] && field.type === 'password'"
          >
            La contraseña debe tener al menos
            {{registerForm.get('password')?.errors?.['minlength'].requiredLength}}
            carácteres
          </mat-error>
        </mat-form-field>
      </div>
      <div class="content-link">
        <a routerLink="/">¿Ya tienes cuenta?</a>
      </div>
      <button mat-raised-button color="primary" class="form-register-button">
        Registrarse
      </button>
    </form>
  </div>
</div>
